<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/paginas/cadastrarTurmas.css">
    <script src="/js/paginas/cadastrarTurmas.js"></script>

    <title>Cadastro de Turma - Clicando na Terceira Idade</title>
</head>
<body>
    <header>
        <div class="logo">Clicando na Terceira Idade</div>
        <nav>
            <ul>
                <li><a href="index2">Início</a></li>
                <li><a href="adicionarEventos">Eventos</a></li>
                <li><a href="cadastroAtividades">Atividades</a></li>
                <li><a href="listagemUsuarios">Usuários</a></li>
                <li><a href="cadastrarFotos">Fotos</a></li>
                <li><a href="/">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Cadastrar Turma:</h1>
        
        <form class="turma-form" action="/cadastrarTurmas" method="post">
            <label for="nomeTurma">Nome da Turma:</label>
            <input type="text" id="nomeTurma" name="NomeTurma" placeholder="Digite o nome da turma" required>

            <label for="horario">Horário:</label>
            <input type="text" id="horario" name="horario" placeholder="Ex: Segundas e Quartas, 14h-16h" required>

            <label for="dataInicio">Data de Início:</label>
            <input type="date" id="dataInicio" name="dataInicio" required>

            <label for="dataFim">Data de Término:</label>
            <input type="date" id="dataFim" name="dataFim" required>

           
            <label for="limiteAlunos">Limite de Alunos:</label>
            <select id="limiteAlunos" name="limiteAlunos" required>
                <option value="" disabled selected>Selecione o Limite de</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>

            <button type="submit" class="submit-btn">Cadastrar Turma</button>
        </form>
    </main>
</body>
</html>


    