<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/paginas/fotos.css">
    <script src="/js/paginas/fotos.js" defer></script>
    <title>Galeria de Fotos - Clicando na Terceira Idade</title>
</head>
<body>
    <header>
        <div class="logo">Clicando na Terceira Idade</div>
        <nav>
            <ul>
                <li><a href="index">Início</a></li>
                <li><a href="eventos">Eventos</a></li>
                <li><a href="turma">Turmas</a></li>
                <li><a href="usuario">Usuários</a></li>
                <li><a href="materiais">Materiais</a></li>
                <li><a href="sobre">Sobre Nós</a></li>
                <li><a href="/">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Galeria de Fotos</h1>
        <div id="fotosContainer">
            <!-- Fotos serão carregadas aqui dinamicamente -->
        </div>
    </main>
    
    <!-- Modal de Exibição da Imagem -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="close" class="close">&times;</span>
            <img id="modal-img" src="" alt="Imagem Ampliada">
            <div id="modal-descricao" class="modal-description"></div>
            <div id="modal-date" class="modal-date"></div>
        </div>
    </div>
</body>
</html>
