<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clicando na Terceira Idade</title>
    <link rel="stylesheet" href="/css/paginas/index.css">
    <script src="/js/paginas/index.js" defer></script>
    
</head>
<body>
    <div class="container">
        <div class="left-side">
            <img src="/imagens/paginas/index/imagem.png" alt="Imagem ilustrativa">
            <h1>Clicando na Terceira Idade</h1>
        </div>
        <div class="right-side">
            <a href="sobre.html"><button class="menu-btn">Sobre Nós</button></a>
            <a href="eventos.html"><button class="menu-btn">Eventos</button></a>
            <a href="fotos.html"><button class="menu-btn">Fotos</button></a>
            <a href="materiais.html"><button class="menu-btn">Materiais</button></a>
            <a href="turma.html"><button class="menu-btn">Turma</button></a>
            <a href="usuario.html"><button class="menu-btn">usuario</button></a>
        </div>
    </div>
</body>
</html>
