<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/paginas/listagemUsuarios.css">
    <title>Listagem de Usuários - Clicando na Terceira Idade</title>
    <script src="/js/paginas/listagemUsuarios.js" defer></script>
</head>
<body>
    <header>
        <div class="logo">Clicando na Terceira Idade</div>
        <nav>
            <ul>
                <li><a href="index2">Início</a></li>
                <li><a href="adicionarEventos">Eventos</a></li>
                <li><a href="cadastroAtividades">Atividades</a></li>
                <li><a href="cadastrarTurmas">Turmas</a></li>
                <li><a href="cadastrarFotos">Fotos</a></li>
                <li><a href="/">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Lista de Usuários por Categoria:</h1>

        <div id="usuarios-categorias">
            <!-- As categorias e usuários serão injetados aqui via JavaScript -->
        </div>
    </main>

    <!-- Modal para exibir detalhes do usuário -->
   
        <div id="modal">
            <div>
                <span id="modal-close">×</span>
                <h3 id="modal-nome"></h3>
                <p id="modal-nascimento"></p>
                <p id="modal-documento"></p>
                <p id="modal-genero"></p>
                <p id="modal-telefone"></p>
                <p id="modal-email"></p>
                <p id="modal-endereco"></p>
            </div>
        </div>

</body>
</html>
