<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/paginas/listagemUsuarios.css">
    <title>Listagem de Usuários - Clicando na Terceira Idade</title>
    <script src="/js/paginas/listagemUsuarios.js" defer></script>
</head>
<body>
    <header>
        <div class="logo">Clicando na Terceira Idade</div>
        <nav>
            <ul>
                <li><a href="index2">Início</a></li>
                <li><a href="adicionarEventos">Eventos</a></li>
                <li><a href="cadastroAtividades">Atividades</a></li>
                <li><a href="cadastrarTurmas">Turmas</a></li>
                <li><a href="cadastrarFotos">Fotos</a></li>
                <li><a href="/">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Lista de Usuários por Categoria:</h1>

        <div id="usuarios-categorias">
            <!-- As categorias e usuários serão injetados aqui via JavaScript -->
        </div>
    </main>

    <!-- Modal para exibir detalhes do usuário -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="modal-close" class="modal-close">&times;</span>
            <h2>Detalhes do Usuário</h2>
            <p><strong>Nome:</strong> <span id="modal-nome"></span></p>
            <p><strong>Data de Nascimento:</strong> <span id="modal-nascimento"></span></p>
            <p><strong>Documento:</strong> <span id="modal-documento"></span></p>
            <p><strong>Gênero:</strong> <span id="modal-genero"></span></p>
            <p><strong>Telefone:</strong> <span id="modal-telefone"></span></p>
            <p><strong>Email:</strong> <span id="modal-email"></span></p>
            <p><strong>Endereço:</strong> <span id="modal-endereco"></span></p>

        </div>
    </div>
    
</body>
</html>
