<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/paginas/turma.css">
    <title>Minha Turma - Clicando na Terceira Idade</title>
    <script src="/js/paginas/turma.js" defer></script> <!-- Link para o arquivo JS -->
</head>
<body>
    <header>
        <div class="logo">Clicando na Terceira Idade</div>
        <nav>
            <ul>
                <li><a href="index">Início</a></li>
                <li><a href="fotos">Fotos</a></li>
                <li><a href="eventos">Eventos</a></li>
                <li><a href="usuario">Usuários</a></li>
                <li><a href="materiais">materiais</a></li>
                <li><a href="sobre">Sobre Nós</a></li>
                <li><a href="login">Sair</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Minha Turma</h1>
        <div class="turma-info">
            <p><strong>Nome da Turma:</strong> <span id="nome-turma"></span></p>
            <p><strong>Horário:</strong> <span id="horario-turma"></span></p>
            <p><strong>Local:</strong> <span id="local-turma"></span></p>
        </div>

        <div class="turma-participantes">
            <h2>Participantes</h2>
            <ul id="participantes-lista">
                <!-- Participantes serão carregados aqui -->
            </ul>
        </div>
    </div>
    
</body>
</html>
