body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: #0d7c0d;
    padding: 40px;
    border-radius: 12px;
    width: 850px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-grid {
    display: flex;
    justify-content: space-between;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    width: 45%;
}

label {
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

input, select {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}

input::placeholder, select::placeholder {
    color: #ccc;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    font-size: 16px;
}

.cadastrar {
    background-color: white;
    color: #0d7c0d;
}

.cadastrar:hover {
    background-color: white;
    color: #0d7c0d;
}

.deletar {
    background-color: white;
    color: #dc3545;
}

.deletar:hover {
    background-color: white;
    color: #dc3545;
}
