body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 100vh;
  }
  
  .login-wrapper {
    display: flex;
    justify-content: center;
    width: 50%; 
  }
  
  .login-container {
    background-color: #f0f8f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 60%;
  }
  
  .login-container h2 {
    color: #0d7c0d;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login-container input[type="submit"] {
    background-color: #0d7c0d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  body::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%; 
    background-color: #0d7c0d; 
    z-index: -1;
  }
  
  .signup-text {
    margin-top: 10px;
  }
  
  .signup-text a {
    color: #008000;
    text-decoration: none;
  }
  
  .signup-text a:hover {
    text-decoration: underline;
  }
  