/* Reset de Estilo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da Página */
body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  position: relative;
}

/* Área de Identificação do Usuário */
.user-identification {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre o texto e o botão */
  background-color: #ffffff;
  border: 2px solid #0d7c0d;
  padding: 8px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.user-greeting {
  font-size: 16px;
  color: #0d7c0d;
  font-weight: bold;
}

.user-data-btn {
  background-color: #0d7c0d;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.user-data-btn:hover {
  background-color: #095b09;
  transform: scale(1.05);
}

/* Container Principal */
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}


/* Lado Esquerdo */
.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f8f2;
  padding: 20px;
}

.left-side img {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.left-side h1 {
  color: #0d7c0d;
  font-size: 28px;
  text-align: center;
}

/* Lado Direito */
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d7c0d;
  padding: 20px;
}

/* Botões Maiores, mas mais finos */
.menu-btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 15px 30px; /* Aumentando apenas a largura do padding */
  margin: 15px 0; /* Espaçamento entre os botões */
  font-size: 18px; /* Ajustando o tamanho da fonte */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 400px; /* Menor largura, para ficar mais fino */
  text-align: center;
  border-radius: 5px;
}

.menu-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #e0e0e0;
  transform: scale(1.05);
}

/* Animação de Fade-in */
.left-side, .right-side {
  opacity: 0;
  transition: opacity 1s ease;
}

body.loaded .left-side,
body.loaded .right-side {
  opacity: 1;
}
